<a href="/create-post" id="creat-post">Click to Create Post</a>

{{#each myPosts as |post|}}
<a href="/posts/edit/{{post.id}}" class="post-card">
  <section class="custom-post-card" id="{{id}}">
        <h1>{{post.title}}</h1>
        <p>{{post.body}}</p>
        <p>{{format_date createdAt}}</p>
        <a href="/posts/edit/{{id}}" class="custom-small-button">
        <button type="button" class="btn btn-success edit-post-button">Edit Post</button>
        </a>
        <a href="#" class="custom-small-button"></a>
        <button type="button" class="btn btn-danger delete-post-button" id="{{post.id}}">Delete Post</button>
    </section>
</a>
{{/each}}
<script src="/js/delete-post.js"></script>