<h1>{{post.title}}</h1>
<h3>By: {{post.user.username}}</h3>
<p>{{post.body}}</p>
<br>
<p>Posted: {{format_date post.createdAt}}</p>
<h3>comments:</h3>

{{#each postComments}}
    <section class="card">
        <h1>{{body}}</h1>
        <p>By: {{user.username}}</p>
        <p>{{format_date createdAt}}</p>
    </section>

{{/each}}


<form>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Add Comment</label>
    <textarea class="form-control col-6" id="add-comment-body" rows="1"></textarea>
  </div>

  <button type="button" class="btn btn-primary btn-lg" id="add-comment-submit">Submit</button>
  <script src="/js/post.js"></script>
</form>