<div class="post-render">
  <h1>{{post.title}}</h1>
  <h3>By: {{post.user.username}}</h3>
  <p>{{post.body}}</p>
  <br>
  <p>Posted: {{format_date post.createdAt}}</p>
  
</div>
{{#each postComments}}
    <h3>comments:</h3>
    <section class="comment">
        <h4>{{body}}</h4>
        <p>By: {{user.username}}</p>
        <p>{{format_date createdAt}}</p>
    </section>

{{/each}}


<form>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Add Comment</label>
    <textarea class="form-control col-6" id="add-comment-body" data-post_id="{{post.id}}"rows="1"></textarea>
  </div>

  <button type="button" class="btn btn-primary btn-lg" id="add-comment-submit">Submit</button>
  <script src="/js/post.js"></script>
</form>